<nav class="h-20  flex items-center justify-center shadow-lg p-4">
  <strong class="text-3xl font-bold text-blue-950 " style="font-family: Roboto;">Convert Your Excel File To PDF </strong>
</nav>

<div class="flex items-center justify-center bg-gradient-to-br from-gray-100 to-blue-100 px-4 min-h-[calc(100vh-5rem)] py-8">
  <div class="bg-white shadow-2xl rounded-2xl w-full max-w-md p-6 space-y-6 transition-all">
    <h2 class="text-3xl font-bold text-center text-blue-700" >Excel to PDF</h2>
    <p class="text-center text-sm text-gray-500">Easily convert your Excel files into PDF format</p>

    <!-- Upload box -->
    <label
      class="border-2 border-dashed border-blue-300 bg-blue-50 hover:bg-blue-100 transition p-6 rounded-xl cursor-pointer flex flex-col items-center space-y-3 text-blue-600"
    >
      <span class="text-sm font-medium">Click or Drag Excel File (.xls, .xlsx)</span>
      <input type="file" accept=".xls,.xlsx" class="hidden" (change)="onFileSelected($event)" />
    </label>

    <!-- File Name Preview -->
    <div *ngIf="selectedFile" class="text-sm text-center text-gray-600">
      📄 <strong>{{ selectedFile.name }}</strong>
    </div>

    <!-- Convert Button -->
    <button
      class="w-full py-2 px-4 bg-blue-600 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 transition cursor-pointer "
      (click)="convertToPDF()"
      [disabled]="!selectedFile"
    >
      Convert to PDF
    </button>

    <!-- Download Link -->
    <div *ngIf="pdfDownloadUrl" class="text-center mt-2">
      <a [href]="pdfDownloadUrl" download class="text-green-600 font-medium hover:underline">
        ⬇️ Download PDF
      </a>
    </div>

    <div class="flex justify-center space-x-5">
    
    <!-- LinkedIn Icon (placeholder: share) -->
   <a 
  href="https://www.linkedin.com/in/vivek-vinchhi" 
  target="_blank" 
  matTooltip="LinkedIn"
>
  <!-- <img src="assets/icons/linkedin.png" alt="linkedin" class="w-6.5 h-6.5" /> -->
   <img 
  src="assets/icons/linkedin.png" 
  alt="linkedin" 
  class="w-6.5 h-6.5 hover:scale-110 transition-transform duration-200" 
/>

</a>

    <!-- Email Icon -->
    <a 
      href="mailto:vinchhivivek9@gmail.com" 
    
      matTooltip="Email"
    >
      <mat-icon class="text-white text-xl hover:scale-110 transition-transform duration-200">mail</mat-icon>
    </a>

  </div>  </div>
  
</div>


